body {
  background-image: url("../img/fundo-7.jpg");
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  background-color: white;
  margin: 4% 4%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: "Titillium Web", sans-serif;
  opacity: 0.6;
}
.box:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.generators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.generators button {
  margin: 5% 0;
}
.calendar {
  margin-top: 5%;
}
.box h3 {
  text-align: center;
}
.input-box {
  display: flex;
  margin-top: 4%;
}
.input-box input {
  margin-left: 4%;
}
.input-box > label {
  font-size: 1.3em;
}

.btn-group {
  margin-left: 4%;
}

.btn-group2 {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
